/* Find the random number */

body {
  background-color: rgb(145, 14, 14);
}
.result-text {
  display: inline-block;
  margin-top: 15px;
  padding: 20px;
  font-size: 32px;
  line-height: 20px;
  color: #fff;
  background-color: rgb(127, 150, 88);
}
.result-text-big {
  display: inline-block;
  margin-top: 15px;
  padding: 20px;
  font-size: 32px;
  line-height: 20px;
  color: #fff;
  background-color: rgb(17, 80, 161);
}
.result-text-little {
  display: inline-block;
  margin-top: 15px;
  padding: 20px;
  font-size: 32px;
  line-height: 20px;
  color: #fff;
  background-color: rgb(160, 1, 162);
}
.result-text-right {
  display: inline-block;
  margin-top: 15px;
  padding: 20px;
  font-size: 32px;
  line-height: 20px;
  color: #fff;
  background-color: rgb(29, 154, 29);
}